version: "3.9"

services:
  web:
    build: .
    container_name: flask_app
    expose:
      - "5000"
    restart: always

  nginx:
    image: nginx:1.25
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./app/static:/app/static
    depends_on:
      - web
    restart: always
